.header { 
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.headerMenu {
    list-style: none;
    display: flex;
    gap:2rem;
    color:white;
}

.headerMenu li:hover{
    color: var(--orange);
    cursor: pointer;
}

@media screen and (max-width: 768px){

    .menuMobile{
        position: fixed;
        left:60%;
        z-index: 99;
    }

    .menuMobileLi{
        position: fixed;
        left:35%;
        z-index: 99;
    }

    .headerMenu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
    
}